:root {
  --red: #e45055;
  --brown: #eaac8b;
  --dark: #355070;
  --violet: #6d597a;
  --pink: #b56576;
  --serif: 'DM Serif Display', serif;
  --sans: 'DM Sans', sans-serif;
  --font-size: 1.2rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
}

h1,
h2,
h3,
p {
  margin: 0;
}

h2 {
    font-family: var(--serif)
}

a {
  color: var(--dark);
}

a:hover {
  color: var(--red);
}


.container {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 1rem;
    gap: 2rem;
    align-items: center;
}

/* navbar */
nav {
  font-family: var(--sans);
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  /* gap: 8rem; */
}

@media (min-width: 440px) {
  nav .sessions {
    margin-left: 4rem;
  }
}

@media (min-width: 700px) {
    nav .sessions {
      margin-left: 8rem;
    }
  }

nav a {
  text-decoration: none;
  display: block;
}

nav .sessions {
  display: flex;
  gap: 1.5rem;
}

/* buttons */

a.link-button {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    text-decoration: none;
    /* box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06); */
    color: var(--violet)
}

a.link-button:focus,
a.link-button:hover {
    color: var(--dark);
    background: #f7fbff
    
}


/*  */

.new-event {
    margin: 0 auto;
}

.new-event .link-button {
    padding: 10px 30px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

/* cards */
.cards-container {
  display: flex;
  gap: 2rem;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  flex-basis: 260px;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid #eee;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media (min-width: 440px) {
    .card {
      flex-basis: 400px;
    }
  }

.card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.card-actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

.card .link-button {
    align-self: end;
}

/* forms */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

form .field,
form .actions {
  display: flex;
  flex-direction: column;
}

input,
textarea,
datetime-local {
  font-family: inherit;
  font-size: 90%;
  padding: 5px;
  margin: 0;
  border: 1px solid #eee;
  /* border: 0; */
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 250px;
  background: white;
}

input[type='submit'] {
  background: var(--violet);
  color: #eee;
}

input[type='submit']:hover {
  background: var(--dark);
  color: #eee;
}

input[type='checkbox'] {
  width: 10px;
}

textarea {
  resize: none;
}
